
.Photo{
    background-image: url('https://images.pexels.com/photos/3799821/pexels-photo-3799821.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
}
/* Projects Photo */
.project1{
    background-image: url('https://thereal-baitjet.github.io/juan-santos-pro-portfolio2/betfullstack.png');
    cursor: none;    
}
.project2{
    background-image: url('https://user-images.githubusercontent.com/77952267/119202662-45c30400-ba5f-11eb-8814-3adedf70613a.png');
    cursor: none;
}
.project3{
    background-image: url('fitness');
    cursor: none;
}
.parallax{
    background-image: url('https://thereal-baitjet.github.io/juan-santos-pro-portfolio/blkwhtprofile.jpg');
}